section.cover.has-mask .mask {
  background: none !important;
}
section.cover {
  background-image: url('./grid.gif') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  color: white;
}
section.cover h1 .anchor span {
  color: white !important;
  display: inline-block;
  -webkit-animation: pulse 3s infinite !important;
  -moz-animation:    pulse 3s infinite !important;
  -o-animation:      pulse 3s infinite !important;
  animation:         pulse 3s infinite !important;
}
.cover-main {
/*
  background: #F9E681;
  margin: 0 !important;
*/
  font-family: Menlo, monaco, arial;
}
.cover-main p {
  font-size: 12px;
}
section.cover .cover-main>p:last-child a {
  background: rgba(0,0,0,0.8);
  color: white !important;
  margin: 3px;
  border: 1px solid white;
  padding: 2px 10px !important;
  border-radius: 2px !important;
  color: white !important;
  font-size: 10px !important;
  font-family: arial !important;
}
.cover-main img {
  width: 100px;
  filter: drop-shadow(5px 5px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
}
h1 {
  font-size: 40px !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}
.anchor span {
  color: rgba(0,0,0,0.8);
}
body {
  color: rgba(0,0,0,0.8);
}
@-webkit-keyframes pulse {
  0%   { transform: scale(1, 1);}
  10% { transform: scale(1.1, 1.1); }
  100%   { transform: scale(1, 1);}
}
@-moz-keyframes pulse {
  0%   { transform: scale(1, 1);}
  10% { transform: scale(1.05, 1.05); }
  100%   { transform: scale(1, 1);}
}
@-o-keyframes pulse {
  0%   { transform: scale(1, 1);}
  10% { transform: scale(1.05, 1.05); }
  100%   { transform: scale(1, 1);}
}
@keyframes pulse {
  0%   { transform: scale(1, 1);}
  10% { transform: scale(1.1, 1.1); }
  100%   { transform: scale(1, 1);}
}
